<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>增删改查</title>
    <style>
        .button {
            background-color: deepskyblue;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 50px;
        }
        .div{
            padding-left: 45%;
            padding-top: 20%;
        }
    </style>
</head>
<body>
<div class="div">
    <a href="/UserInstall/signin" class="button">登录！！</a>
    <a href="/UserInstall/Install" class="button">注册！！</a>
</div>
</body>
</html>